@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,400,400i,700,900");
@import url("https://fonts.googleapis.com/css?family=Montserrat:900");
#jp-relatedposts.jp-relatedposts {
  background-color: #e4e4e4;
  margin-left: -30px;
  margin-right: -30px;
  margin-top: 30px;
  padding: 100px 30px;
  border-top: 3px solid #37bae5;
  border-bottom: 3px solid #37bae5;
}
#jp-relatedposts.jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post-date, #jp-relatedposts.jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post-context {
  display: none !important;
}
#jp-relatedposts.jp-relatedposts .jp-relatedposts-items-visual h4.jp-relatedposts-post-title {
  font-family: "Montserrat";
  font-size: 0.9em;
}

#content {
  line-height: 1.6em;
  font-family: "Lora";
  font-size: 1.2em;
}
#content strong {
  color: #4c4c4c;
  font-family: Montserrat;
  font-style: initial;
}
#content blockquote span {
  line-height: 1.6em;
  font-size: 20px;
}
#content h1, #content h2, #content h3 {
  font-size: 1.4em;
  color: #4c4c4c;
  font-family: "Montserrat";
  margin-bottom: 15px;
  margin-top: 40px;
}
#content h2 {
  font-weight: 900;
}

#content img {
  margin-top: 20px;
  margin-bottom: 20px;
}
#content img.box-shadow {
  box-shadow: 0px 0px 10px #d0d0d0;
}
#content #content img.crp_thumb.crp_featured {
  margin: 0px;
}
#content p > a, #content li > a {
  text-decoration: none;
  color: #000;
  box-shadow: inset 0 -6px 0 #c0e6f7;
}

code {
  color: white;
  font-size: initial;
  background-color: #37bae5;
  border-radius: 5px;
  padding: 1px 5px;
}

#main #nav-below {
  margin-right: 15px;
  margin-left: 15px;
}
#main #nav-below a {
  display: none;
}

.sitewrap #main article {
  box-shadow: 0px 0px 5px #e6e6e6;
  border-radius: 5px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 0px;
  border-bottom: 3px solid #37bae5;
  border-top: 3px solid #37bae5;
}
.sitewrap #main article .callout {
  font-family: inherit;
  border-radius: 5px;
  background-color: #fafafa;
  border: 1px solid #37bae5;
  box-shadow: 3px 3px 5px #e5e5e5;
}
.sitewrap #main article .continue-link {
  background-color: #2c9d25;
  border-radius: 2px;
  padding: 5px 20px;
  border-bottom: 3px solid #166e11;
  cursor: pointer;
}
.sitewrap #main article .continue-link:hover {
  background-color: #166e11;
}
.sitewrap #main article .continue-link > a {
  font-family: "Lato";
  color: white;
  font-size: 1.2em;
}
.sitewrap #main #content #mc_embed_signup {
  background-color: #37bae5;
  color: white;
}
.sitewrap #main #content .comment-reminder {
  font-size: 1.2em;
  margin-bottom: 0px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding: 10px;
}
.sitewrap #main #content .getnoticed_shareable {
  margin-bottom: 0px;
}
.sitewrap #main #content .getnoticed_shareable .actions {
  margin: 0px;
}
.sitewrap #main #content .getnoticed_shareable .actions li {
  list-style-type: none;
}
.sitewrap #main #content ul li {
  background: none;
  margin-bottom: none;
  list-style-type: initial;
  padding-left: 0px;
}
.sitewrap #main #content .entry-content {
  margin-top: 0px;
  padding-top: 30px;
}

#featured-banner {
  margin: 15px;
}
#featured-banner .section-1, #featured-banner .section-2, #featured-banner .section-3 {
  box-shadow: 0px 0px 5px #e6e6e6;
  border-radius: 5px;
  cursor: pointer;
}
#featured-banner .section-1:after, #featured-banner .section-2:after, #featured-banner .section-3:after {
  content: "Serverless";
  opacity: 0.9;
  border-radius: 2px;
  color: #4e4e4e;
  background-color: white;
  padding: 1px 10px;
  margin: 10px;
  position: absolute;
  font-family: Lato;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 13px;
}
#featured-banner .top .section-1 {
  background-image: url(https://s3-us-west-2.amazonaws.com/assets.site.serverless.com/logos/serverless-square-icon-text.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #252525;
  height: 100px;
  display: block;
  margin-bottom: 10px;
}
#featured-banner .bottom {
  font-size: 0px;
}
#featured-banner .bottom .section-2 {
  margin-right: 10px;
  background-image: url(http://msoliman.me/wp-content/uploads/2017/04/docker-facebook-share.png);
  background-color: #114a6a;
}
#featured-banner .bottom .section-2:after {
  content: "Containers";
}
#featured-banner .bottom .section-3 {
  background-image: url(https://www.terraform.io/assets/images/og-image-large-e60c82fe.png);
  background-color: #5f43e9;
  background-size: cover;
}
#featured-banner .bottom .section-3:after {
  content: "Infrastructure As Code";
}
#featured-banner .bottom .section-2, #featured-banner .bottom .section-3 {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: calc(50% - 5px);
  height: 100px;
}

.gist-file td:first-child {
  border: none;
}

footer#colophon {
  height: 150px;
  background-color: lightgrey;
  margin-top: 50px;
  padding: 50px 20px;
  font-size: 1.1em;
  font-style: italic;
  font-family: "Lato";
  width: calc(100vw);
  position: absolute;
  left: 0px;
}
footer#colophon .site-info {
  text-align: center;
  width: 100%;
  width: 50%;
  margin-left: 25%;
}

.sitewrap #headernav {
  box-shadow: 4px 2px 5px lightgrey;
  background-color: #1c2c5b;
  padding-bottom: 15px;
  box-shadow: 5px 5px 5px #e6e6e6;
  /* MOBILE CSS */
}
.sitewrap #headernav header {
  margin-left: 15px;
}
.sitewrap #headernav header .site-title {
  font-family: "Montserrat";
}
.sitewrap #headernav header .site-title > a {
  line-height: 1em;
  font-size: 1em;
  color: #37bae5;
  cursor: pointer;
}
.sitewrap #headernav header .site-description {
  font-family: "Lato";
  hyphens: auto;
  letter-spacing: 2px;
  font-style: italic;
  font-weight: 900;
  font-size: 1.1em;
  color: white;
}
.sitewrap #headernav #primary-menu #menu-main li a {
  padding: 15px 13px;
  color: white;
  letter-spacing: 1px;
  font-family: "Lato";
  font-weight: 300;
}
.sitewrap #headernav #primary-menu #menu-main li a:hover {
  background-color: #384d8d;
}
@media only screen and (max-width: 690px) {
  .sitewrap #headernav header {
    width: 90%;
  }
  .sitewrap #headernav .site-header {
    display: block;
  }
  .sitewrap #headernav .mobile_actions {
    position: absolute;
    right: 0px;
    top: 32px;
  }
}

.category .page-header {
  margin: 0px 15px 15px 15px;
  border: 0px;
  box-shadow: 4px 4px 10px #f1f1f1;
  border-radius: 0px;
}
.category .page-header h1 {
  margin: 15px;
}

.sitewrap #main header.entry-header {
  margin: -30px -30px -30px -30px;
  padding: 20px;
  background-color: white;
  border-top: 3px solid #37bae5;
}
.sitewrap #main header.entry-header h1.entry-title {
  padding: 50px;
  text-align: center;
  color: #17244b;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.8em;
  border-bottom: 0px;
}
@media screen and (max-width: 600px) {
  .sitewrap #main header.entry-header h1.entry-title {
    padding: 20px;
    font-size: 1.2em;
  }
}
.sitewrap #main header.entry-header h1.entry-title > a {
  color: #17244b;
}
@media only screen and (max-width: 690px) {
  .sitewrap #main header.entry-header h1.entry-title > a {
    font-size: 1em;
    hyphens: auto;
  }
}
.sitewrap #main header.entry-header h3.getnoticed-entry-subtitle {
  font-family: "Lato";
  text-align: center;
  border: 0px;
  font-weight: 400;
  font-style: italic;
  margin: 0px;
}

#ocnav {
  font-family: "Lato";
}
#ocnav h3 {
  background-color: #1c2c5b;
  padding-top: 20px;
  padding-bottom: 10px;
  color: white;
  font-size: 1.5em;
}
#ocnav li a {
  background-color: #384d8d;
  font-family: "Lato";
  background-color: #384d8d;
  font-style: italic;
  color: white !important;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 1px;
}

#disqus_thread {
  margin-left: 15px;
  margin-right: 15px;
  box-shadow: 0px 0px 20px lightgrey;
}

#secondary aside {
  margin-left: 15px;
  margin-right: 15px;
  box-shadow: 0px 0px 5px #e6e6e6;
}
#secondary aside#getnoticed_advancedtext-lou-sidebar {
  border: 0px;
}
#secondary aside#getnoticed_advancedtext-lou-sidebar .textwidget {
  padding: 0px;
}
#secondary aside#getnoticed_advancedtext-lou-sidebar .textwidget img {
  opacity: 0.85;
  width: 100%;
  margin-bottom: -10px;
}
#secondary aside .widget-title {
  background-color: #384d8d;
  color: white;
  letter-spacing: 1px;
  font-size: 1em;
  font-family: "Lato";
  font-weight: 300;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#secondary aside.widget,
#secondary aside ul,
#secondary aside .textwidget {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: "Lato";
  font-size: 1.2em;
  line-height: 1.3em;
  font-style: italic;
}

#secondary aside.widget_getnoticed_subscribe {
  border: 1px solid #e2e2e2 !important;
  padding: 0px;
}
#secondary aside.widget_getnoticed_subscribe p {
  margin-bottom: 5px;
  text-align: center;
  font-family: "Montserrat";
  font-size: 1.3em;
  letter-spacing: 2px;
  font-style: initial;
  color: #1c2c5b;
}
#secondary aside.widget_getnoticed_subscribe .content {
  background-color: #37bae5 !important;
  padding-right: 30px;
}
#secondary aside.widget_getnoticed_subscribe .formwrap {
  color: white;
}
#secondary aside.widget_getnoticed_subscribe .formwrap .indicates-required {
  display: none;
}
#secondary aside.widget_getnoticed_subscribe .formwrap #mc-embedded-subscribe-form {
  background: #37bae5;
}
#secondary aside.widget_getnoticed_subscribe .formwrap .mc-field-group {
  margin-top: 0px;
  padding-bottom: 0px;
  margin-right: 0px;
  width: 100%;
}
#secondary aside.widget_getnoticed_subscribe .formwrap .mc-field-group label {
  font-size: 1.2em;
  text-transform: uppercase;
  font-family: "Lato";
}
#secondary aside.widget_getnoticed_subscribe .formwrap .mc-field-group input {
  height: 40px;
  border: 0px;
  border-radius: 0px;
}
#secondary aside.widget_getnoticed_subscribe .formwrap #mc-embedded-subscribe.button {
  text-transform: uppercase;
  margin: auto;
  width: 100%;
  margin-bottom: 15px;
  border: none;
  background: white;
  box-shadow: none !important;
  color: #363333 !important;
  font-family: Montserrat;
  letter-spacing: 1px;
}

.sitewrap #main #content #mc_embed_signup {
  background-color: #37bae5;
  color: white;
}
.sitewrap #main #content #mc_embed_signup #mc-embedded-subscribe {
  width: 75%;
  color: black;
  font-family: Montserrat;
  text-transform: uppercase;
  background-color: white;
  margin: auto;
  display: block;
  border: none;
  letter-spacing: 2px;
}

.sitewrap #main #searchform {
  margin-right: 15px;
  margin-left: 15px;
  box-shadow: 0px 0px 20px lightgrey;
}
.sitewrap #main #searchform label {
  margin-left: 15px;
}
.sitewrap #main #searchform .field {
  border-radius: 2px;
  border: 0px;
  border-bottom: 1px solid lightgrey;
}

.sharedaddy, .bitnami-corner-image-div {
  display: none;
}

.hentry blockquote {
  font-size: inherit;
  font-size: inherit;
  border-top: 4px solid #37bae5;
  border-bottom: 4px solid #37bae5;
  padding: 1em 3.3em;
}
.hentry blockquote div {
  text-align: left;
  font-size: initial;
}

body {
  background-color: #e4e4e4 !important;
}

/*# sourceMappingURL=index.css.map */
