@import url("https://fonts.googleapis.com/css?family=Tinos:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700,900");
.author .getnoticed-social {
  display: none;
}
.author #content header {
  padding: 30px;
}
.author #content h1 {
  margin-top: 0px;
}
.author #content .author-jobtitle {
  display: none;
}
.author #content img.avatar {
  height: 200px;
  width: 200px;
}
.author #content .author-info {
  padding: 0px;
  background-color: white;
}

#jp-relatedposts.jp-relatedposts {
  margin: 0px -30px 0px -30px;
  padding: 0px 30px;
}
#jp-relatedposts.jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post-date, #jp-relatedposts.jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post-context {
  display: none !important;
}
#jp-relatedposts.jp-relatedposts .jp-relatedposts-items-visual h4.jp-relatedposts-post-title {
  font-family: "Montserrat";
  font-size: 0.9em;
}

#content {
  padding: 20px;
  line-height: 1.6em;
  font-family: "Tinos";
  font-size: 1.1em;
}
#content strong {
  color: #4c4c4c;
  font-style: initial;
}
#content blockquote span {
  line-height: 1.6em;
  font-size: 20px;
}
#content h1 {
  color: #1c2c5b;
  font-size: 1.3em;
  font-weight: 900;
}
#content h2 {
  color: #1c2c5b;
  font-size: 1.1em;
  font-weight: 900;
}
#content h3 {
  color: #1c2c5b;
  font-weight: 100;
  font-size: 1em;
}
#content h1, #content h2, #content h3 {
  font-family: "Montserrat";
  margin-bottom: 15px;
  margin-top: 40px;
}

.page-id-8073 button {
  background-color: #37bae5;
  color: #1c2c5b;
  text-shadow: none;
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 0.7em;
  text-transform: uppercase;
  border: 0px;
  border-bottom: 5px solid #23748e;
  border-radius: 2px;
  box-shadow: none;
}
.page-id-8073 button:hover {
  transform: scale(1.05);
  transition: all 100ms ease-in;
}
.page-id-8073 #footer.site-footer {
  margin-top: 0px;
}
.page-id-8073 #page {
  max-width: initial;
  width: 100%;
  margin: 0px;
}
.page-id-8073 #page div#categories-menu {
  margin-bottom: 0px;
}
.page-id-8073 #page section {
  margin-bottom: 0px;
}
.page-id-8073 #page section #content {
  padding: 0px;
  margin: 0px;
}
.page-id-8073 #page section #content article {
  padding: 0px;
}
.page-id-8073 #page section #content article .entry-content {
  padding: 0px;
}
.page-id-8073 #page section #content article .entry-content .panel {
  padding: 5% 15%;
  background: linear-gradient(to bottom, #37bae5, #37bae5e8);
  color: white;
}
.page-id-8073 #page section #content article .entry-content .panel img {
  box-shadow: none;
}
.page-id-8073 #page section #content article .entry-content .panel.logos a {
  box-shadow: none;
  text-decoration: none;
}
.page-id-8073 #page section #content article .entry-content .panel.logos img {
  width: 25%;
  margin-left: 37%;
  margin-right: 37%;
  vertical-align: middle;
}
.page-id-8073 #page section #content article .entry-content .panel.logos img:hover {
  transform: scale(1.05);
  transition: all 100ms ease-in;
}
@media only screen and (min-width: 690px) {
  .page-id-8073 #page section #content article .entry-content .panel.logos img {
    width: 14%;
    margin-right: 5%;
    margin-left: 5%;
  }
}
.page-id-8073 #page section #content article .entry-content .panel.newsletter p {
  display: inline-block;
  vertical-align: middle;
}
@media only screen and (min-width: 690px) {
  .page-id-8073 #page section #content article .entry-content .panel.newsletter p.newsletterimage {
    width: 60%;
  }
  .page-id-8073 #page section #content article .entry-content .panel.newsletter p.newslettertext {
    width: 30%;
  }
}
.page-id-8073 #page section #content article .entry-content .panel.aboutme .aboutmeimage {
  transform: rotate(-3deg);
  width: 33%;
  margin-left: 33%;
}
@media only screen and (min-width: 1000px) {
  .page-id-8073 #page section #content article .entry-content .panel.aboutme .aboutmeimage {
    margin-left: initial;
    width: 20%;
    padding-right: 5%;
    display: inline-block;
  }
  .page-id-8073 #page section #content article .entry-content .panel.aboutme .aboutmetext {
    margin-left: initial;
    vertical-align: top;
    margin-top: 20px;
    width: 73%;
    display: inline-block;
  }
}
.page-id-8073 #page section #content article .entry-content .panel.getstarted a {
  box-shadow: none;
}
.page-id-8073 #page section #content article .entry-content .panel.getstarted .getstartedtext {
  margin: 20px 0px -5px 0px;
  color: #1c2c5b;
  font-family: "Montserrat";
  font-weight: 900;
  display: block;
}
.page-id-8073 #page section #content article .entry-content .panel.getstarted div.image {
  width: 100%;
  display: inline-block;
  box-shadow: none;
  vertical-align: top;
}
.page-id-8073 #page section #content article .entry-content .panel.getstarted div.image img:hover {
  transform: scale(1.05);
  transition: all 100ms ease-in;
}
@media only screen and (min-width: 900px) {
  .page-id-8073 #page section #content article .entry-content .panel.getstarted div.image {
    width: 44%;
    margin-left: 5%;
  }
}
@media only screen and (min-width: 1400px) {
  .page-id-8073 #page section #content article .entry-content .panel.getstarted div.image {
    width: 30%;
    margin-right: 1%;
    margin-left: 1%;
  }
}
.page-id-8073 #page section #content article .entry-content .panel.latest a {
  font-family: "Montserrat";
  font-weight: 700;
}
.page-id-8073 #page section #content article .entry-content .panel.latest ul, .page-id-8073 #page section #content article .entry-content .panel.latest li {
  list-style-type: none;
  margin: 35px 0px 0px 0px;
}
.page-id-8073 #page section #content article .entry-content .panel h2 {
  font-size: 1.8em !important;
}
.page-id-8073 #page section #content article .entry-content .panel p {
  font-size: 1.1em;
}
@media only screen and (min-width: 690px) {
  .page-id-8073 #page section #content article .entry-content .panel h2 {
    font-size: 2.5em !important;
  }
  .page-id-8073 #page section #content article .entry-content .panel p {
    font-size: 1.3em;
  }
}
.page-id-8073 #page section #content article .entry-content .panel.inverted {
  background: white;
  color: #1c2c5b;
}
.page-id-8073 #page section #content article .entry-content .panel.hero {
  color: #1c2c5b;
}
.page-id-8073 #page section #content article .entry-content .panel.hero button {
  background-color: #1c2c5b;
  color: white;
}
@media only screen and (min-width: 1000px) {
  .page-id-8073 #page section #content article .entry-content .panel.hero p {
    width: 60%;
  }
  .page-id-8073 #page section #content article .entry-content .panel.hero h2 {
    width: 80%;
  }
}
@media only screen and (max-width: 690px) {
  .page-id-8073 .sitewrap #headernav {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}
.page-id-8073 .sitewrap #main article header {
  display: none;
}

#content img {
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px #d0d0d0;
}
#content img.no-box-shadow {
  box-shadow: none;
}
#content #content img.crp_thumb.crp_featured {
  margin: 0px;
}
#content p > a, #content li > a {
  text-decoration: none;
  color: #000;
  box-shadow: inset 0 -6px 0 #c0e6f7;
}
#content .abh_box {
  padding: 0px !important;
  font-family: inherit;
}
#content .abh_box .abh_tabs {
  display: none;
}
#content .abh_box .abh_tab_content .abh_text .abh_description {
  font-size: 0.9em !important;
}
#content .abh_box p > a, #content .abh_box li > a {
  color: #4382c4;
}
#content .abh_box .abh_tab_content {
  border-bottom: 0px !important;
}

code {
  color: white;
  background-color: #37bae5;
  border-radius: 2px;
  padding: 1px 5px;
}

#main #nav-below {
  margin-right: 15px;
  margin-left: 15px;
}
#main #nav-below a {
  display: none;
}

section.full-width {
  margin-bottom: 50px;
}

.sitewrap #main article {
  border-radius: 0px;
  background: none;
}
.sitewrap #main article .entry-footer {
  border: 0px;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 15px;
}
.sitewrap #main article .callout {
  font-family: inherit;
  border: none;
  background-color: transparent;
  border-left: 3px solid #37bae5;
}
.sitewrap #main article .continue-link, .sitewrap #main article .button {
  font-family: Tinos;
  color: white;
  font-size: 13px;
  font-weight: 400;
  font-style: italic;
  text-shadow: none;
  background: #2c9d25;
  background-color: #2c9d25;
  border-radius: 2px;
  padding: 5px 20px;
  border-bottom: 3px solid #166e11;
  cursor: pointer;
}
.sitewrap #main article .continue-link:hover, .sitewrap #main article .button:hover {
  background-color: #166e11;
}
.sitewrap #main article .continue-link > a, .sitewrap #main article .button > a {
  font-family: "Tinos";
  color: white;
  font-size: 1.2em;
}
.sitewrap #main #content #mc_embed_signup {
  background-color: #37bae5;
  color: white;
}
.sitewrap #main #content .comment-reminder {
  font-size: 1.2em;
  margin-bottom: 0px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding: 10px;
}
.sitewrap #main #content .getnoticed_shareable {
  margin-bottom: 0px;
}
.sitewrap #main #content .getnoticed_shareable .actions {
  margin: 0px;
}
.sitewrap #main #content .getnoticed_shareable .actions li {
  list-style-type: none;
}
.sitewrap #main #content ul li {
  background: none;
  margin-bottom: none;
  list-style-type: initial;
  padding-left: 0px;
}
.sitewrap #main #content .entry-content {
  margin-top: 0px;
  padding-top: 30px;
}

#featured-banner {
  margin: 15px;
}
#featured-banner .section-1, #featured-banner .section-2, #featured-banner .section-3 {
  box-shadow: 0px 0px 5px #e6e6e6;
  border-radius: 5px;
  cursor: pointer;
}
#featured-banner .section-1:after, #featured-banner .section-2:after, #featured-banner .section-3:after {
  content: "Serverless";
  opacity: 0.9;
  border-radius: 2px;
  color: #4e4e4e;
  background-color: white;
  padding: 1px 10px;
  margin: 10px;
  position: absolute;
  font-family: "Tinos";
  font-weight: 900;
  text-transform: uppercase;
  font-size: 13px;
}
#featured-banner .top .section-1 {
  background-image: url(https://s3-us-west-2.amazonaws.com/assets.site.serverless.com/logos/serverless-square-icon-text.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #252525;
  height: 100px;
  display: block;
  margin-bottom: 10px;
}
#featured-banner .bottom {
  font-size: 0px;
}
#featured-banner .bottom .section-2 {
  margin-right: 10px;
  background-image: url(http://msoliman.me/wp-content/uploads/2017/04/docker-facebook-share.png);
  background-color: #114a6a;
}
#featured-banner .bottom .section-2:after {
  content: "Containers";
}
#featured-banner .bottom .section-3 {
  background-image: url(https://www.terraform.io/assets/images/og-image-large-e60c82fe.png);
  background-color: #5f43e9;
  background-size: cover;
}
#featured-banner .bottom .section-3:after {
  content: "Infrastructure As Code";
}
#featured-banner .bottom .section-2, #featured-banner .bottom .section-3 {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: calc(50% - 5px);
  height: 100px;
}

body {
  margin: 20px;
  font: 16px "Open Sans", sans-serif;
}

body .gist .gist-file {
  margin-bottom: 0;
  border: 0px solid white;
  margin-left: -30px;
  margin-right: -30px;
}

body .gist .gist-data {
  background-color: #efeeee;
  border-bottom: 0px;
  padding: 20px 15px;
  margin: 30px;
}

body .gist .highlight {
  background-color: transparent;
  font-family: "Droid Sans Mono", monospace;
  font-size: 14px;
}

body .gist .highlight td {
  padding: 5px 15px !important;
  line-height: 1;
  font-family: inherit;
  font-size: inherit;
}

body .gist tr:first-child td {
  padding-top: 15px !important;
}

body .gist tr:last-child td {
  padding-bottom: 15px !important;
}

body .gist .blob-num {
  color: #38b9e5;
  display: none;
  background-color: #394d8d;
  pointer-events: none;
}

body .gist .gist-meta {
  display: none;
}

table.highlight.tab-size.js-file-line-container {
  border-radius: 19px;
}

footer#colophon {
  display: none;
}

#footer.site-footer {
  background: #ededed;
  left: 0px;
  margin-top: 75px;
  position: absolute;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 120px;
  font-weight: 400;
}
@media only screen and (max-width: 690px) {
  #footer.site-footer {
    position: initial;
  }
}
#footer.site-footer .innerwrap {
  display: block;
  width: 75%;
  margin: auto;
}
#footer.site-footer .innerwrap #first, #footer.site-footer .innerwrap #second, #footer.site-footer .innerwrap #third {
  display: inline-block;
  float: initial;
  width: 30%;
  vertical-align: top;
}
#footer.site-footer .innerwrap #first ul, #footer.site-footer .innerwrap #second ul, #footer.site-footer .innerwrap #third ul {
  list-style: none;
  margin-left: 0px;
}
@media only screen and (max-width: 690px) {
  #footer.site-footer .innerwrap #first, #footer.site-footer .innerwrap #second, #footer.site-footer .innerwrap #third {
    width: 100%;
    display: block;
    margin-left: 0px;
  }
}
#footer.site-footer .innerwrap #first .widget, #footer.site-footer .innerwrap #second .widget, #footer.site-footer .innerwrap #third .widget {
  text-align: initial;
}

.sitewrap #headernav {
  margin-bottom: 40px;
}
.sitewrap #headernav > .innerwrap {
  max-width: 1200px;
  width: 96%;
  margin-left: 0px;
  margin-right: 0px;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: #1c2c5b;
  padding-bottom: 0px;
  /* MIDDLE WIDTH CSS */
  /* MOBILE CSS */
}
.sitewrap #headernav > .innerwrap header {
  margin-left: 30px;
}
.sitewrap #headernav > .innerwrap header .site-title {
  font-family: "Montserrat";
}
.sitewrap #headernav > .innerwrap header .site-title > a {
  letter-spacing: 1px;
  font-size: 0.7em;
  line-height: 1em;
  color: #37bae5;
  cursor: pointer;
  font-weight: 900;
}
.sitewrap #headernav > .innerwrap header .site-title > a:hover {
  color: white;
}
.sitewrap #headernav > .innerwrap header .site-description {
  font-family: "Montserrat";
  hyphens: auto;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 0.55em;
  color: white;
}
.sitewrap #headernav > .innerwrap .getnoticed-mainnav {
  right: 30px;
  width: initial;
}
.sitewrap #headernav > .innerwrap .getnoticed-mainnav #primary-menu #menu-main li.current-menu-item > a {
  color: #37bae5;
}
.sitewrap #headernav > .innerwrap .getnoticed-mainnav #primary-menu #menu-main li a {
  padding: 15px 10px;
  color: white;
  letter-spacing: 1px;
  font-family: "Montserrat";
  font-size: 0.7em;
}
.sitewrap #headernav > .innerwrap .getnoticed-mainnav #primary-menu #menu-main li a:hover {
  background-color: #384d8d;
}
@media only screen and (max-width: 1000px) {
  .sitewrap #headernav > .innerwrap .getnoticed-mainnav #primary-menu #menu-main li a {
    padding-top: 23px;
    font-size: 0.5em;
  }
}
@media only screen and (max-width: 690px) {
  .sitewrap #headernav > .innerwrap header {
    width: 90%;
  }
  .sitewrap #headernav > .innerwrap .site-header {
    display: block;
  }
  .sitewrap #headernav > .innerwrap .mobile_actions {
    position: absolute;
    right: 0px;
    top: 32px;
  }
}

.category #content .page-header {
  padding: 0px 25px;
  border: 0px;
  border-radius: 0px;
}
.category #content .page-header h1 {
  margin: 0px;
  color: #1c2c5b;
  font-size: 2em;
  border-bottom: 3px solid #1c2c5b;
  text-align: center;
  padding-bottom: 10px;
}

.sitewrap #main header.entry-header {
  margin: -30px -30px -30px -30px;
  padding: 30px;
}
.sitewrap #main header.entry-header h1.entry-title {
  padding: 20px 0px 30px;
  text-align: center;
  color: #17244b;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.8em;
  border-bottom: 0px;
}
@media screen and (max-width: 600px) {
  .sitewrap #main header.entry-header h1.entry-title {
    padding: 20px 0px;
    font-size: 1.2em;
  }
}
.sitewrap #main header.entry-header h1.entry-title > a {
  color: #17244b;
}
@media only screen and (max-width: 690px) {
  .sitewrap #main header.entry-header h1.entry-title > a {
    font-size: 1em;
    hyphens: auto;
  }
}
.sitewrap #main header.entry-header h3.getnoticed-entry-subtitle {
  font-family: "Tinos";
  text-align: center;
  border: 0px;
  font-weight: 400;
  font-style: italic;
  margin: 0px;
}

#ocnav #ocsearch {
  display: none;
}
#ocnav h3 {
  display: none;
}
#ocnav li a {
  background-color: #384d8d;
  font-family: "Montserrat";
  font-weight: 500;
  text-transform: uppercase;
  background-color: white;
  padding: 10px 25px;
  color: #384d8d !important;
  font-size: 1em;
  letter-spacing: 1px;
}
#ocnav li a:hover {
  background-color: #ededed;
}

#disqus_thread {
  margin-left: 15px;
  margin-right: 15px;
  box-shadow: none;
}

.sidebar .widget li {
  border-bottom: 1px solid #ededed;
}

#secondary aside {
  margin-left: 15px;
  margin-right: 15px;
  border: 0px;
  font-size: initial !important;
}
#secondary aside a {
  text-decoration: none;
  color: #000;
  box-shadow: inset 0 -6px 0 #c0e6f7;
}
#secondary aside#getnoticed_advancedtext-lou-sidebar {
  border: 0px;
}
#secondary aside#getnoticed_advancedtext-lou-sidebar .textwidget {
  padding: 0px;
}
#secondary aside#getnoticed_advancedtext-lou-sidebar .textwidget img {
  opacity: 0.85;
  width: 100%;
  margin-bottom: -10px;
}
#secondary aside .widget-title {
  border: 2px solid #384d8d;
  background: none;
  margin-top: 40px;
  margin-bottom: 15px;
  letter-spacing: 1px;
  color: #384d8d;
  font-family: "Montserrat";
  font-size: 1em;
  font-weight: 300;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
#secondary aside.widget,
#secondary aside ul,
#secondary aside .textwidget {
  border-bottom: 0px;
  border-radius: 2px;
  font-family: "Tinos";
  font-size: 1.1em;
  line-height: 1.3em;
}

#secondary aside.widget_getnoticed_subscribe {
  border: 1px solid #ededed;
  padding: 0px;
}
#secondary aside.widget_getnoticed_subscribe p {
  font-weight: 700;
  margin-bottom: 5px;
  text-align: center;
  font-family: "Montserrat";
  font-size: 1.3em;
  letter-spacing: 2px;
  font-style: initial;
  color: #1c2c5b;
}
#secondary aside.widget_getnoticed_subscribe .content {
  padding-right: 30px;
}
#secondary aside.widget_getnoticed_subscribe .formwrap {
  color: white;
}
#secondary aside.widget_getnoticed_subscribe .formwrap .indicates-required {
  display: none;
}
#secondary aside.widget_getnoticed_subscribe .formwrap .mc-field-group {
  margin-top: 0px;
  padding-bottom: 0px;
  margin-right: 0px;
  width: 100%;
}
#secondary aside.widget_getnoticed_subscribe .formwrap .mc-field-group label {
  color: initial;
  font-family: "Tinos";
}
#secondary aside.widget_getnoticed_subscribe .formwrap .mc-field-group input {
  height: 30px;
  border-radius: 2px;
}
#secondary aside.widget_getnoticed_subscribe .formwrap #mc-embedded-subscribe.button {
  border-radius: 0px;
  text-transform: uppercase;
  margin: auto;
  width: 100%;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 10px;
  border: none;
  border-bottom: 3px solid green;
  box-shadow: none !important;
  color: #1c2c5b;
  font-family: Montserrat;
  letter-spacing: 1px;
}

.sitewrap #main #content br {
  display: none;
}
.sitewrap #main #content #mc_embed_signup {
  font-family: "Tinos";
  margin: 15px 0px;
  padding: 20px 0 20px 0px;
  background-color: #37bae5;
  color: white;
}
.sitewrap #main #content #mc_embed_signup .mc-field-group {
  padding: 0px;
}
.sitewrap #main #content #mc_embed_signup #mc-embedded-subscribe {
  width: 200px;
  color: black;
  font-family: Montserrat;
  text-transform: uppercase;
  background-color: white;
  margin: auto;
  display: block;
  border: none;
  letter-spacing: 2px;
}

.sitewrap #main #searchform {
  margin-right: 15px;
  margin-left: 15px;
  box-shadow: 0px 0px 20px lightgrey;
}
.sitewrap #main #searchform label {
  margin-left: 15px;
}
.sitewrap #main #searchform .field {
  border-radius: 2px;
  border: 0px;
  border-bottom: 1px solid lightgrey;
}

#top_search, #getnoticed-featured-area {
  display: none;
}

#categories-menu {
  margin: 0px 15px 20px 15px;
}
#categories-menu #menu-bottom {
  border-bottom: 1px solid #ededed;
  position: absolute;
  left: 0;
  width: 100%;
  margin: 0;
  margin-top: -40px;
  background-color: white;
  box-sizing: border-box;
}
#categories-menu #menu-bottom li.menu-item {
  width: 16.5%;
}
#categories-menu #menu-bottom li.menu-item.current-menu-item a {
  background: #1c2c5b;
  color: #f6f6f6;
  text-shadow: none;
}
#categories-menu #menu-bottom li.menu-item a {
  text-transform: uppercase;
  font-family: "Montserrat";
  background: #f6f6f6;
  background: inherit;
  border: none;
  padding: 4px;
}
#categories-menu #menu-bottom li.menu-item a:hover {
  background: #37bae5;
  color: #f6f6f6;
}

.wrap {
  max-width: 1000px;
}

@media (max-width: 800px) {
  .wrap {
    width: initial;
  }
}
.sharedaddy, .bitnami-corner-image-div {
  display: none;
}

.hentry blockquote {
  font-size: inherit;
  font-size: inherit;
  border-top: 4px solid #37bae5;
  border-bottom: 4px solid #37bae5;
  padding: 1em 3.3em;
}
.hentry blockquote div {
  text-align: left;
  font-size: initial;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  color: red;
  margin: 0px;
}

/*# sourceMappingURL=index.css.map */
