footer#colophon {
  height: 150px;
  background-color: $color-grayscale-light;
  margin-top: 50px;
  padding: 50px 20px;
  font-size: 1.1em;
  font-style: italic;
  font-family: $typography-accent-font;
  width: calc(100vw);
  position: absolute;
  left: 0px;
  .site-info {
    text-align: center;
    width: 100%;
    width: 50%;
    margin-left: 25%;
  }
}
