footer#colophon {
  display: none;
}

#footer.site-footer {
  left: 0px;
  // position: fixed;
  position: absolute;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 120px;
  font-weight: 400;
  .innerwrap {
    display: block;
    width: 75%;
    margin: auto;
    #first, #second, #third {
      ul {
        list-style: none;
        margin-left: 0px;
      }
      display: inline-block;
      float: initial;
      width: 30%;
      @media only screen and (max-width: 690px) {
        width: 100%;
        display: block;
        margin-left: 0px;
      }
      vertical-align: top;
      .widget {
        text-align: initial;
      }
    }
  }
}
