.sitewrap {
  #headernav {
    margin-bottom: 40px;
    > .innerwrap {
      max-width: 1200px;
      width: 96%;
      margin-left: 0px;
      margin-right: 0px;
      max-width: 100%;
      width: 100%;
      box-sizing: border-box;
      background-color: $color-main;
      padding-bottom: 0px;
      header {
        margin-left: 30px;
        .site-title {
          font-family: $typography-header-font;
          > a {
            letter-spacing: 1px;
            font-size: 0.7em;
            line-height: 1em;
            color: $color-accent;
            cursor: pointer;
            font-weight: 900;
          }
          > a:hover {
            color: white;
          }
        }
        .site-description {
          font-family: $typography-header-font;
          hyphens: auto;
          letter-spacing: 2px;
          font-weight: 500;
          font-size: 0.55em;
          color: white;
        }
      }
      .getnoticed-mainnav {
        right: 30px;
        width: initial;
        #primary-menu {
          #menu-main {
            li.current-menu-item > a {
              color: $color-accent;
            }
            li {
              a {
                padding: 15px 10px;
                color: white;
                letter-spacing: 1px;
                font-family: $typography-header-font;
                font-size: 0.7em;
              }
              a:hover {
                background-color: $color-main-light;
              }
            }
          }
        }
      }
       /* MIDDLE WIDTH CSS */
       @media only screen and (max-width: 1000px) {
        .getnoticed-mainnav {
          #primary-menu {
            #menu-main {
              li {
                a {
                  padding-top: 23px;
                  font-size: 0.5em;
                }
              }
            }
          }
        }
      }
      /* MOBILE CSS */
      @media only screen and (max-width: 690px) {
        header {
          width: 90%;
        }
        .site-header {
          display: block;
        }
        .mobile_actions {
          position: absolute;
          right: 0px;
          top: 32px;
        }
      }
    }
  }
}
