.sitewrap {
  #main {
    header {
      &.entry-header {
    margin: -30px -30px -30px -30px;
    padding: 20px;
    background-color: white;
    border-top: 3px solid #37bae5;
    h1.entry-title {
          padding: 50px;
          text-align: center;
          color: $color-main-dark;
          margin-top: 0px;
          margin-bottom: 0px;
          font-size: 1.8em;
          @media screen and (max-width: 600px) {
            padding: 20px;
            font-size: 1.2em;
          }
          border-bottom: 0px;
          > a {
            color: $color-main-dark;
          }
        }
        @media only screen and (max-width: 690px) {
          h1.entry-title {
            > a {
              font-size: 1em;
                hyphens: auto;
            }
          }
        }
        h3.getnoticed-entry-subtitle {
          font-family: 'Lato';
          text-align: center;
          border: 0px;
          font-weight: 400;
          font-style: italic;
          margin: 0px;
        }
      }
    }
  }
}
