#jp-relatedposts.jp-relatedposts {
    margin: 0px -30px 0px -30px;
    padding: 0px 30px;
    .jp-relatedposts-items{
        .jp-relatedposts-post-date, .jp-relatedposts-post-context {
            display: none !important;
        }
    }
    .jp-relatedposts-items-visual {
        h4.jp-relatedposts-post-title {
            font-family: "Montserrat";
            font-size: 0.9em;
        }
    }
}
