
#content {
  padding: 20px;
  line-height: 1.6em;
  font-family: 'Tinos';
  font-size: 1.1em;
  strong {
    color: $color-grayscale-dark;
    font-style: initial;
  }
  blockquote {
    span {
      line-height: 1.6em;
      font-size: 20px;
    }
  }
  h1 {
    color: $color-main;
    font-size: 1.3em;
    font-weight: 900;
  }
  h2 {
    color: $color-main;
    font-size: 1.1em;
    font-weight: 900;
  }
  h3 {
    color: $color-main;
    font-weight: 100;
    font-size: 1em;
  }
  h1, h2, h3 {
    font-family: $typography-header-font;
    margin-bottom: 15px;
    margin-top: 40px;
  }
}
